@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: PPNr;
    src: url(../fonts/PP\ Neue\ Machina\ Inktrap\ Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PPNr";
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
}

#bgPage1 {
  background-image: url("../assets/Hero_Background_1.svg");
  background-position: center;
  background-size: cover;
  background-color: #0b163e;
}